body { font-family: "Helvetica"; }

a { color: cyan; text-decoration: none; }
a:hover { text-decoration: underline; }

body { background-color: hsl(53, 12%, 30%); color: rgb(255, 255, 255); }
h1, h2, h3, p, ul { margin-bottom: 0; margin-top: 0; }

#paper {
  margin: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Helvetica;
  background-color: #ffffff;
  background-image: url('assets/lpt.jpg');
  background-repeat: repeat-y;
  background-attachment: local;
  color: #000000;
  padding-left: 50px;
  white-space: pre;
  box-shadow: inset 0 5px 10px black;
  transition: height 0.5s ease;
}

body.printout #paper, #paper-spacer { height: 200px; }
body:not(.printout) #hide_paper { display: none; }
body.printout #show_paper { display: none; }
